@page
@model CapstoneProjectFashionHub.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard page";
}

@* Dashboard Product start *@
<section class="dashboard" id="dashboard">
    <div class="row">
        <div class="text-judul">
            <h2><span>Dashboard Analisis</span> Tren Penjualan</h2>
            <p>Berikut kumpulan dan ringkasan Dashboard FashionHub</p>
        </div>

        <iframe title="TUGAS DASHBOARD CAPSTONE TERBARU FIX"  
            src="https://app.powerbi.com/view?r=eyJrIjoiYTUyYjdlMmEtOWEyZi00YjQyLWFmMTAtMDdkOWUyNTcyYzQwIiwidCI6IjFkNTE2OWFjLWM3Y2ItNDI3NS05NzY0LWJmOGM5YzM2NGE0YyIsImMiOjEwfQ%3D%3D" 
            frameborder="0" allowFullScreen="true" class="analisis-dashboard">
        </iframe>
    </div>
</section>
@* Dashboard section end *@

@* Descripsi Dashboard start *@
<section class="descripsi-dashboard">
    <div class="dashboard-text" data-aos="fade-up">
        <h3>Descripsi</h3>
        <p>
            Dashboard ini memberikan pandangan menyeluruh dan mendalam mengenai tren penjualan produk perusahaan, menyoroti berbagai metrik penting dalam format visual yang mudah dipahami. Dengan antarmuka yang intuitif dan grafis yang menarik, 
            dashboard ini memungkinkan analisis yang efektif dari total pendapatan, tren penjualan tahunan, kategori produk terlaris, serta demografi pelanggan berdasarkan usia dan jenis kelamin.
        </p>
    </div>
</section>
@* Descripsi Dashboard end *@

@* elment utama dashboard start *@
<div class="descripsi-judul" data-aos="fade-up">
    <h2>Element-element Utama</h2>
</div>

<div class="elemen-utama" data-aos="fade-right">
    <h3>Total Pendapatan</h3>
    <p>
       Menampilkan total penjualan dengan angka yang besar dan mencolok, memberikan informasi instan kepada pengguna.
       Saat ini, total pendapatan mencapai $689,16, menandakan performa penjualan yang solid.
    </p>
</div>
<div class="elemen-utama" data-aos="fade-right">
    <h3>Grafik Tren Penjualan Tahunan</h3>
    <p>
        Grafik garis yang memvisualisasikan tren penjualan tahunan dari tahun 2020 hingga prediksi 2028.
        Memungkinkan pengguna untuk mengidentifikasi pola pertumbuhan dan penurunan, dengan prediksi peningkatan di masa depan.
    </p>
</div>
<div class="elemen-utama" data-aos="fade-right">
    <h3>Total Jumlah Pembelian Menurut Produk</h3>
    <p>
        Grafik batang horizontal yang mengurutkan kategori produk berdasarkan jumlah penjualan.
        Produk-produk seperti tas selempang, tas ransel, dan sweater hoodie menunjukkan penjualan tertinggi, memberikan wawasan tentang preferensi pelanggan.
    </p>
</div>
<div class="elemen-utama" data-aos="fade-right">
    <h3>Jumlah Pelanggan Berdasarkan Kelompok Umur dan Gender</h3>
    <p>
        Diagram pie yang menampilkan distribusi pelanggan berdasarkan kelompok umur dan gender.
        Memvisualisasikan segmentasi demografis dengan warna berbeda, memudahkan analisis mendalam.
    </p>
</div>
<div class="elemen-utama" data-aos="fade-right">
    <h3>Total Pembelian Menurut Gender dan Umur</h3>
    <p>
        Grafik batang horizontal yang mengelompokkan total pembelian berdasarkan usia dan jenis kelamin pelanggan.
        Menyediakan informasi penting mengenai kelompok pelanggan yang paling aktif dalam pembelian.
    </p>
</div>
<div class="elemen-utama" data-aos="fade-right">
    <h3>Manfaat</h3>
    <p>
        Pengambilan Keputusan yang Lebih Baik: Membantu manajer penjualan dan tim pemasaran dalam membuat keputusan strategis berbasis data.
        Identifikasi Tren Pasar: Memudahkan identifikasi tren penjualan dan pola pembelian dari berbagai kategori produk dan demografi pelanggan.
        Perencanaan Strategi yang Efektif: Berguna untuk merencanakan strategi penjualan dan pemasaran yang lebih efektif dengan memahami pola pembelian pelanggan.
    </p>
</div>
<div class="elemen-kesimpulan" data-aos="fade-up">
    <h3>Kesimpulan</h3>
    <p>
       Dengan menggunakan dashboard ini, pengguna dapat dengan mudah memantau kinerja penjualan, memahami tren pasar, dan menyesuaikan strategi bisnis sesuai dengan data yang disajikan. 
       Ini adalah alat yang sangat berharga untuk memaksimalkan efisiensi operasional dan meningkatkan pendapatan perusahaan.
    </p>
</div>
@* elment utama dashboard end *@

